.carrossel {
    text-align: center;
    padding: 2rem;

    h1 {
        color: #00ADD3;
        font-weight: 300;
        margin-bottom: 3rem;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-wrapper {
        display: flex;
        align-items: center;
    }

    .swip {
        background-color: white;
    }
}
