.container {
    background-color: rgba(0,0,0,.8);
    height: 5rem;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    position: fixed;
    z-index: 1000;
}

.logo {
    width: 7%;
}

.links {
    display: flex;
    gap: 1rem;
    align-items: center;

    a {
        color: white;
        text-decoration: none;
        font-weight: 500;
    }

    a:hover {
        color: #00ADD3;
    }

    .appButton {
        background-color: #00ADD3;
        color: white;
        padding: 0.8rem 1.2rem;
        border: none;
        border-radius: 1.8rem;
        cursor: pointer;
        font-size: 1rem;
        color:rgb(20, 20, 53);
        font-weight: 600;
    }
}

.transparent {
    background-color: rgb(0, 0, 0, 0.2);
}

.scrolled {
    background-color: rgba(16, 23, 31, 0.8);
}

@media (max-width: 740px) {
    .container {
        width: 100%;

    }
}