.container {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
}

.title {
    font-size: 1rem;
    
    h1 {
        font-weight: 400;
        margin: 0.8rem 0;
    }
}

.text {
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.highlight {
    color: #00ADD3;
}

/* Para dispositivos com largura de tela até 600px */
@media (max-width: 740px) {
    .container {
        /* estilos para o container em telas pequenas */
    }

    .content {
        /* estilos para o content em telas pequenas */
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .title {
        display: flex;
        gap: 1.5rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 1rem;
        }
    }

    .text {
        /* estilos para o text em telas pequenas */
        width: 100%;
        padding: 0 1rem;
    }
}
