.container {
   position: relative;
}

.banner {
   width: 100%;
   height: auto;
}

.content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;

   img {
         width: 20rem;
         height: auto;
         margin-bottom: 1rem;
   }

   h2 {
         font-size: 2.3rem;
         font-weight: 300;
         color: #fff;
         margin-bottom: 1rem;
   }

   button {
         background-color: #00ADD3;
         color: #001339;
         font-weight: 500;
         padding: 0.8rem 1rem;
         border: none;
         border-radius: 1.2rem;
         cursor: pointer;
         font-weight: 600;
   
   }
}

.subtitle {
   /* estilos para o subtítulo */
}

.button {
   /* estilos para o botão */
}

/* Para dispositivos com largura de tela até 600px */
@media (max-width: 600px) {
   .title {
       /* estilos para o título em telas pequenas */
   }

   .subtitle {
       /* estilos para o subtítulo em telas pequenas */
   }

   .button {
       /* estilos para o botão em telas pequenas */
   }
}
