.container {
   position: relative;
}

.banner {
   width: 100%;
   height: auto;
}

.content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

.title {
   /* estilos para o título */
}

.subtitle {
   /* estilos para o subtítulo */
}

.button {
   /* estilos para o botão */
}

/* Para dispositivos com largura de tela até 600px */
@media (max-width: 600px) {
   .title {
       /* estilos para o título em telas pequenas */
   }

   .subtitle {
       /* estilos para o subtítulo em telas pequenas */
   }

   .button {
       /* estilos para o botão em telas pequenas */
   }
}
